<h1>Editar Postagem</h1>
<div style="width:50%;">
<%= render 'form' %> 
<br>
<a class="waves-effect waves-light btn" <%= link_to 'Voltar', posts_path %> </a>
<a class="waves-effect waves-light btn" <%= link_to 'Mostrar', @post %> </a> <br>

<div>