// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { text-align: center; }
	#site { width: 700px; }
	#topo { width: 700px; height: 100px; }
	#col1 { width: 150px; float: left; height: 300px; }
	#col2 { width: 400px; float: left; height: 300px; }
	#col3 { width: 150px; float: left; height: 300px; }